*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles  */

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-orange{
    color: #FD6E0A;
}
.btn-orange{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-gray{
    /* align-items: center; */
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    width: 700;
    padding: 18px 35px;
    margin-left: 25px;
}
/* main section */
main{
    max-width: 1145px;
    margin: 0 auto;
}
/* About sections styles */

.about{
    
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}
.section{
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    padding: 130px 156px;
}
.sec-description{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
}
/* table section */
.about-info-container{
    color: #474747;
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
    font-weight: 400;
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
/* What i do */
.what-i-do{
    text-align: center;
    margin-top: 130px;
    font-size: 35px;
    padding: 0 370px;
    margin-bottom: 30px;
}
.what-des{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    margin-bottom: 50px;
    padding: 0 115px;
}
.skill-container{
    display: flex;
    gap: 24px;
    }
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}    
.skill-title{
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    
}
.skill-description{
    color: #757575;
    
}